@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

img {
  height: 350px;
  margin-left: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Images alignment */

#huawei-image {
  margin-top: -335px;
}

#playstation-image {
  margin-top: -425px;
}

#microsoft-image {
  margin-top: -235px;
}

#soup-image {
  margin-top: -360px;
}

#zoom-image {
  margin-top: -385px;
}

#fedEx-image {
  margin-top: -365px;
}

/* end of images */

#header {
  background-color: #0397db;
  height: 240px;
}

#header h2 {
  float: right;
  margin-top: 4%;
  font-size: 45px;
  margin-right: 20%;
  position: sticky;
  color: white;
}


hr#line {
  border: 1px solid black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

#slogan {
  text-align: center;
  margin-top: 4%;
}

h3 {
  margin-top: 3.5%;
  margin-left: 1%;
}

#slogan-phrase {
  font-size: 40px;
  font-weight: bold;
}

.button {
  margin-left: 44.7%;
  cursor: pointer;
  border: 1px solid #4d4c4c;
  font-size: 135%;
  padding: 10px 26px;
  font-family: "montserrat";
  margin-top: 4%;
}

.button {
  border-radius: 4px;
  background-color: #464342;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



